<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <nav>
        <button id="btn" onclick="history.back()">뒤로</button>
        <a href="{{ url_for('user') }}" {% if request.path == url_for('user') %}class="active"{% endif %}>User</a>      
        <a href="{{ url_for('order') }}" {% if request.path == url_for('order') %}class="active"{% endif %}>Order</a>
        <a href="{{ url_for('order_item') }}" {% if request.path == url_for('order_item') %}class="active"{% endif %}>Order-Item</a>
        <a href="{{ url_for('item') }}" {% if request.path == url_for('item') %}class="active"{% endif %}>Item</a>
        <a href="{{ url_for('store') }}" {% if request.path == url_for('store') %}class="active"{% endif %}>Store</a>
        <button id="btn" onclick="history.forward()">앞으로</button>
    </nav>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
