{% extends "base.html" %}
{% block title %}User{% endblock %}

{% block content %}
    <form action="/users" method="GET">
        <input type="text" name="name" value = "{{ search_name }}" placeholder="사용자 이름 검색">
        <input type="submit" value="검색">
        <label for="gender">Gender: </label>
        <select name="gender" onchange="this.form.submit()">
            {% for option in ['','Female','Male'] %}
                <option value={{option}} {% if gender == option %} selected {% endif %}>{{option}}</option>
            {% endfor %}
        </select>
        <label for="per_page">페이지당 항목 수: </label>
        <select name="per_page" onchange="this.form.submit()">
            {% for num in [5,10,15,20] %}
                <option value="{{ num }}"{% if per_page == num %} selected {% endif %}>{{ num }}</option>
            {% endfor %}    
        </select>
    </form>

    <table border="1">
        <tr>
        {% for header in headers %}
            <th> {{ header }} </th>
        {% endfor %}
        </tr>

        {% for user in users %}
            <tr> 
                <td>{{ loop.index + start_index }}</td>
                {% for attribute in [user.id,user.name,user.gender,user.age,user.birthday,user.address] %}
                {% if attribute == user.id %}
                    <td><a href="/user/{{ attribute }}">{{ attribute }}</a></td>
                {% else %}
                    <td> {{ attribute }}</td>
                {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    
    <div class="pagination">
        {% if page > 1 %}
            <a href="?page={{ page - 1 }}&name={{ search_name }}&per_page={{ per_page }}&gender={{ gender }}">이전</a>
        {% else %}
            <span class="move">이전</span>
        {% endif %}
        
        {% if total_pages <= 10 %}
            {% for page_num in range(1, total_pages + 1) %}
                {% if page_num == page %}
                    <span class="active">{{ page_num }}</span>
                {% else %}
                    <a href="?page={{ page_num }}&name={{ search_name }}&per_page={{ per_page }}&gender={{ gender }}">{{ page_num }}</a>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if total_pages > 10 and page < 10 %}
            {% for page_num in range(1, 11) %}
                {% if page_num == page %}
                    <span class="active">{{ page_num }}</span>
                {% else %}
                    <a href="?page={{ page_num }}&name={{ search_name }}&per_page={{ per_page }}&gender={{ gender }}">{{ page_num }}</a>
                {% endif %}
            {% endfor %}

            <span>...</span>
            <a href="?page={{ total_pages }}&name={{ search_name }}&per_page={{ per_page }}&gender={{ gender }}">{{ total_pages }}</a>
            &nbsp; &nbsp;
        {% endif %}

        {% if page >= 10 and total_pages > 10 and page < total_pages - 9 %}
            <a href="?page=1&name={{ search_name }}&per_page={{ per_page }}&gender={{ gender }}">1</a>
            <span>...</span>
            {% for offset in range(-5, 5) %}
                {% set page_num = page + offset %}
                {% if page_num >= 1 and page_num <= total_pages %}
                    {% if page_num == page %}
                        <span class="active">{{ page_num }}</span>
                    {% else %}
                        <a href="?page={{ page_num }}&name={{ search_name }}&per_page={{ per_page }}&gender={{ gender }}">{{ page_num }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <span>...</span>
            <a href="?page={{ total_pages }}&name={{ search_name }}&per_page={{ per_page }}&gender={{ gender }}">{{ total_pages }}</a>
        {% endif %}
        
        {% if total_pages - 9 <= page and page < total_pages - 4 and total_pages > 10 %}
            <a href="?page=1&name={{ search_name }}&per_page={{ per_page }}&gender={{ gender }}">1</a>
            <span>...</span>
            {% for offset in range(-5, 5) %}
                {% set page_num = page + offset %}
                {% if page_num >= 1 and page_num <= total_pages %}
                    {% if page_num == page %}
                        <span class="active">{{ page_num }}</span>
                    {% else %}
                        <a href="?page={{ page_num }}&name={{ search_name }}&per_page={{ per_page }}&gender={{ gender }}">{{ page_num }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <span>...</span>
            <a href="?page={{ total_pages }}&name={{ search_name }}&per_page={{ per_page }}&gender={{ gender }}">{{ total_pages }}</a>
        {% endif %}

        {% if page >= total_pages - 4 and total_pages > 10 %}
            <a href="?page=1&name={{ search_name }}&per_page={{ per_page }}&gender={{ gender }}">1</a>
            <span>...</span>
            {% for page_num in range(total_pages - 9, total_pages + 1) %}
                {% if page_num == page %}
                    <span class="active">{{ page_num }}</span>
                {% else %}
                    <a href="?page={{ page_num }}&name={{ search_name }}&per_page={{ per_page }}&gender={{ gender }}">{{ page_num }}</a>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if page < total_pages %}
            <a href="?page={{ page + 1 }}&per_page={{ per_page }}&name={{ search_name }}&gender={{ gender }}">다음</a>
        {% else %}
            <span class="move">다음</span>
        {% endif %}
    </div>

{% endblock %}