/* main.css */
nav {
    background-color: #6779c3;
    padding: 10px 0; /* 위아래 여백 설정 */
    text-align: center; /* 텍스트 가운데 정렬 */
}

nav a {
    color: #fff; /* 링크 텍스트 색상 */
    padding: 10px 15px; /* 좌우 여백 설정 */
    margin: 0 5px; /* 링크 간 간격 */
    border-radius: 5px; /* 둥근 테두리 */
    transition: background-color 0.3s; /* 배경색 변화 애니메이션 */
}

nav a:hover {
    background-color: #0056b3; /* 호버 시 배경색 변경 */
}

form {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="submit"],
select {
    padding: 8px;
    font-size: 14px;
}

input[type="text"] {
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="submit"]:focus {
    outline: none;
}

input[type="text"]::placeholder {
    color: #999;
    font-style: italic;
}


select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

h8 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 15px;
}


table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f0f0f0;
}


tr:nth-child(odd) {
    background-color: #f2f2f2;
}


table a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

table a:hover {
    text-decoration: underline;
    color: #0056b3;
}


a {
    text-decoration: none;
}

.pagination {
    margin-top: 20px;
    text-align: center;
    font-size: 14px; /* 전체 폰트 크기 조정 */
}

.pagination .move:hover {
    background-color: #0056b3;
    color: #fcdddd; /* 이 부분을 추가하여 텍스트 색상도 변경할 수 있습니다. */
}

.pagination a, .pagination span {
    display: inline-block;
    width: 28px;
    line-height: 35px; /* 텍스트 세로 중앙 정렬을 위해 line-height와 높이 값을 동일하게 설정 */
    text-align: center; /* 가운데 정렬 */
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    transition: background-color 0.3s;
    padding: 0 10px;

}



.pagination .active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
    font-weight: bold;
}

.pagination span {
    cursor: not-allowed;
    opacity: 0.6;
}